.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
	
	color: #5f9dd0;
	font-size: 3em;
	font-family: sans-serif;
}

h1 {
	font-size: .50em;
	color: #595959;
	
}

p {
	display: inline-block;
}

a {
	display: inline-block;
	font-size: .45em;
	color: gray;
	text-decoration: none;
}

body {background-color: #15181f;}