.center {
   text-align: center;
}

.maintitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
 }


.window {
    background-color: gray;
    padding: 2em:
    border-style: outset;
    margin-left: auto;
    margin-right: auto;
}

.commentbox {
    background-color: darkgray;
    padding: 2em;
    border-style: outset;
}

.normaltext {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bigtext {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("space-1164579_1280.png")
}

greybuttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}


h1 {
    color: darkgreen;
}
