.centerbox {
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  
  
  border-style: solid;
  border-color: lightgray;
  border-width: 3px 3px 3px 3px ;
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 0em;
  padding-bottom: 2em;
}

.window {
    background-color: gray;
    padding: 2em:
    border-style: outset;
    margin-left: auto;
    margin-right: auto;
}


.normaltext {
    text-align: left;
	font-size: 45px;
    font-family: Arial, sans-serif;
}

.subtext {
	font-size: 16px;
    text-align: left;
	font-family: Arial, sans-serif;
}

.smallsubtext {
	font-size: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    background: linear-gradient(335deg, #0099ff, #ff6600);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    -o-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}



greybuttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}


h1 {
    color: white;
}

p {
	color: lightgray;
	
}